<head>
	<link href="crew-roster.css" rel="stylesheet"/>

	<script src="components/jquery/dist/jquery.min.js"></script>
	<script src="crew-roster.js"></script>
</head>
<body>
	<div id="rostercontainer">
		<div id="rosterheadercontainer">
			<div id="rosterheaderleft" class="rosterheader">
				<div id="crewnameleft" class="crewname"></div>
				<div id="crewstockleft" class="crewstock"></div>
			</div>
			<div id="rosterheaderright" class="rosterheader">
				<div id="crewstockright" class="crewstock"></div>
				<div id="crewnameright" class="crewname"></div>
			</div>
		</div>
		<div id="rosterbodycontainer">
			<div id="rosterleft" class="roster">
				<div class="rosterentry"></div>
				<div class="rosterentry"></div>
				<div class="rosterentry"></div>
				<div class="rosterentry"></div>
				<div class="rosterentry"></div>
				<div class="rosterentry"></div>
				<div class="rosterentry"></div>
				<div class="rosterentry"></div>
				<div class="rosterentry"></div>
				<div class="rosterentry"></div>
			</div>
			<div id="rosterright" class="roster">
				<div class="rosterentry"></div>
				<div class="rosterentry"></div>
				<div class="rosterentry"></div>
				<div class="rosterentry"></div>
				<div class="rosterentry"></div>
				<div class="rosterentry"></div>
				<div class="rosterentry"></div>
				<div class="rosterentry"></div>
				<div class="rosterentry"></div>
				<div class="rosterentry"></div>
			</div>
		</div>
	</div>
</body>