<html>
<head>
	<link href="players.css" rel="stylesheet"/>
	<link href="img/flags.css" rel="stylesheet"/>
	<link href="img/heads.css" rel="stylesheet"/>

	<script src="components/jquery/dist/jquery.min.js"></script>
	<script src="players.js"></script>
</head>
<body>
	<div id="container">
		<div id="player1" class="player">
			<div class="playercontainer">
				<div id="p1flag" class="flag flag-xx"></div>
				<div id="p1char" class="head head-none"></div>
				<div id="p1tag" class="tag"></div>
			</div>
			<div id="p1score" class="score"></div>
		</div>
		<div id="player2" class="player">
			<div id="p2score" class="score"></div>
			<div class="playercontainer">
				<div id="p2tag" class="tag"></div>
				<div id="p2char" class="head head-none"></div>
				<div id="p2flag" class="flag flag-xx"></div>
			</div>
		</div>
	</div>
</body>
</html>