/*@font-face {
	font-family: 'OswaldRegular';
    src: url('img/Oswald-Regular.eot');
    src: url('img/Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OswaldBold';
    src: url('img/Oswald-Bold.eot');
    src: url('img/Oswald-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/

/*body {
	overflow: hidden;
}*/

#container {
	width: 1290px;
	height: 50px;
}

.player {
	/*background: #11a105;*/
	/*background: -moz-linear-gradient(top, #e8e7e9 0%, #a4a5a6 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e7e9), color-stop(100%,#a4a5a6)); /* Chrome,Safari4+ */
	background-image: url('img/players.png');
	width: 550px;
	height: 45px;
	float: left;
	display: flex;
	align-items: center;
	position: relative;

	font-family: 'Oxygen', helvetica, arial;
	font-size: 20px;
	color: white;
}

#player1 {
	margin-left: 5px;
	margin-right: 90px;
}

#player2 {
	margin-left: 90px;
}

.flag {
	padding-right: 5px;
	margin: 5px;
}

.head {
	padding-right: 4px;
	margin: 5px;
}

.tag {
	margin-left: 5px;
	margin-right: 5px;
	flex-basis: 520px;
}

.score {
	width: 20px;
	margin: 5px;
	text-align: center;
}

#p2tag {
	text-align: right;
}

.playercontainer {
	display: flex;
	align-items: center;
	width: 520px;
}