<head>
	<link href="lower-third.css" rel="stylesheet"/>

	<script src="components/jquery/dist/jquery.min.js"></script>
	<script src="lower-third.js"></script>
</head>
<body>
	<div id="container">
		<div id="logocontainer">
			<div id="logo"><span class="helper"></span><img src="img/logo.png"/></div>
		</div>
		<div id="lowerthirdcontainer">
			<div id="lowerthird">
				<div id="lowerthirdtoptext"></div>
				<div id="lowerthirddivider"></div>
				<div id="lowerthirdbottomtext"></div>
			</div>
		</div>
	</div>
</body>