<html>
<head>
	<link href="4players.css" rel="stylesheet"/>
	<link href="img/flags.css" rel="stylesheet"/>

	<script src="components/jquery/dist/jquery.min.js"></script>
	<script src="4players.js"></script>
</head>
<body>
	<div id="container">
		<div id="teams">
			<div id="team1" class="team">
				<div id="team1name" class="teamname"></div>
				<div id="team1score" class="teamscore"></div>
			</div>
			<div id="team2" class="team">
				<div id="team2score" class="teamscore"></div>
				<div id="team2name" class="teamname"></div>
			</div>
		</div>
		<div id="space"></div>
		<div id="players">
			<div id="player1" class="player">
				<div id="p1flag" class="flag flag-xx"></div>
				<div id="p1tag" class="tag"></div>
			</div>
			<div id="player2" class="player">
				<div id="p2flag" class="flag flag-xx"></div>
				<div id="p2tag" class="tag"></div>
			</div>
			<div id="player3" class="player">
				<div id="p3flag" class="flag flag-xx"></div>
				<div id="p3tag" class="tag"></div>
			</div>
			<div id="player4" class="player">
				<div id="p4flag" class="flag flag-xx"></div>
				<div id="p4tag" class="tag"></div>
			</div>
		</div>
	</div>
</body>
