body {
	overflow: hidden;
}

#container {
	position: absolute;
	top: 0%;
	width: 330px;
	height: 55px;
	/*background: -moz-linear-gradient(top, #e8e7e9 0%, #a4a5a6 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e7e9), color-stop(100%,#a4a5a6)); /* Chrome,Safari4+ */
	/*background-image: url('../img/backgrounds/playercam.png');*/
	background: #0054a6;
	font-family: 'Oxygen', helvetica, arial;
	color: white;
	font-size: 20px;
}

#text {
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}