/*@font-face {
	font-family: 'OswaldRegular';
    src: url('img/Oswald-Regular.eot');
    src: url('img/Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OswaldBold';
    src: url('img/Oswald-Bold.eot');
    src: url('img/Oswald-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/

/*body {
	overflow: hidden;
}*/

#container {
	width: 1295px;
	height: 1060px;
	color: #fff;
}

#teams {
	position: absolute;
	top: -50px;
	margin: 5px 10px 0 10px;
	display: flex;
	justify-content: space-between;
	width: 1275px;

	font-family: 'Oxygen', helvetica, arial;
	font-size: 20px;
	/*color: white;*/
}

.team {
	width: 100px;
	height: 45px;
	/*background: -moz-linear-gradient(top, #e8e7e9 0%, #a4a5a6 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e7e9), color-stop(100%,#a4a5a6)); /* Chrome,Safari4+ */
	background-image: url('../img/backgrounds/none team.png');
	display: flex;
	align-items: center;
	position: relative;
}

.teamname {
	margin-left: 5px;
	margin-right: 5px;
	flex-basis: 65px;
}

.teamscore {
	margin: 5px;
	margin-left: 10px;
}

#team2name {
	text-align: right;
}

#space {
	width: 1px;
	height: 960px;
}

.players-container {
	/*position: absolute;
	bottom: 0;*/
	margin: 0 5px 5px 5px;
	position: relative;
}

.twoplayer {
	background: #012c58;
	/*background: -moz-linear-gradient(top, #e8e7e9 0%, #a4a5a6 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e7e9), color-stop(100%,#a4a5a6)); /* Chrome,Safari4+ */
	/*background-image: url('../img/backgrounds/players.png');*/
	width: 447px;
	height: 45px;
	float: left;
	display: flex;
	align-items: center;
	position: relative;
	overflow: hidden;

	font-family: 'Oxygen', helvetica, arial;
	font-size: 20px;
	color: white;
}

#twoplayers {
	position: absolute;
	top: 1010px;
}

#fourplayers {
	position: absolute;
	top: 1070px;
}

.fourplayer {
	width: 295px;
	height: 45px;
	/*background: #11a105;
	border-radius: 5px;*/
	/*background-image: -moz-linear-gradient(top, #e8e7e9 0%, #a4a5a6 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e7e9), color-stop(100%,#a4a5a6)); /* Chrome,Safari4+ */
	background-image: url('../img/backgrounds/none tag.png');
	margin-left: 6px;
	margin-right: 6px;
	float: left;
	position: relative;
	overflow: hidden;

	display: flex;
	align-items: center;

	font-family: 'Oxygen', helvetica, arial;
	font-size: 20px;
}

#player1-2 {
	margin-left: 5px;
	margin-right: 166px;
}

#player2-2 {
	margin-left: 166px;
}

.flag {
	margin: 5px;
}

.flag-2player {
	padding-right: 5px;
	flex: 0 0 27px;
}

.flag-4player {
	flex: 0 0 32px;
}

.head {
	padding-right: 4px;
	margin: 5px;
	flex: 0 0 20px;
}

.tag-2 {
	margin-left: 5px;
	margin-right: 5px;
	flex-basis: 520px;
	z-index: 2;
}

.score {
	width: 20px;
	height: 45px;
	line-height: 45px;
	padding: 0 5px 0 5px;
	text-align: center;
	background: #3aa6d8;
	z-index: 2;
}

#p2tag-2 {
	text-align: right;
}

.twoplayercontainer {
	display: flex;
	align-items: center;
	width: 520px;
}

#player1-4 {
	margin-left: 35px;
}

.tag-4 {
	margin-left: 5px;
	margin-right: 5px;
	z-index: 2;
}

.sponsor {
	position: absolute;
	flex-grow: 0;
	opacity: 0.5;
	z-index: 1;
}

#p1sponsor-2 {
	left: 85%;
	top: -10px;
	transform: translateX(-50%);
}

#p2sponsor-2 {
	left: 15%;
	top: -10px;
	transform: translateX(-50%);
}

.sponsor4 {
	left: 75%;
	top: -10px;
	transform: translateX(-50%);
}

.glow {
	/*background-image: url('../img/backgrounds/red glow.png');*/
	position: absolute;
	width: 443px;
	height: 45px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 5;
}