body {
  overflow: hidden;
}

.shutter {
  width: 12.5%;
  height: 100%;
  position: absolute;
  top: -100%;
  background-size: 1px 7200px; 
  background-position-y: 7200px;
}

#shuttercontainer {
	z-index: 10;
	overflow:hidden;
	width: 1920px;
	height: 1080px;
	position: absolute;
}

/* vertically center logoslice images */
#shuttercontainer img {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
}