@font-face {
	font-family: 'OswaldRegular';
    src: url('img/fonts/Oswald-Regular.eot');
    src: url('img/fonts/Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OswaldBold';
    src: url('img/fonts/Oswald-Bold.eot');
    src: url('img/fonts/Oswald-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	overflow: hidden;
}

#container {
	width: 550px;
	height: 100px;
	box-shadow: 0 3px 5px 1px #333;
	position: absolute;
	left: 110%;
}

#titlecontainer {
	height: 35px;
	background: -moz-linear-gradient(top, #e8e7e9 0%, #a4a5a6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e7e9), color-stop(100%,#a4a5a6)); /* Chrome,Safari4+ */
	font-family: 'OswaldRegular', helvetica, arial;
	font-size: 1.2em;
}

#title {
	padding: 3px 0 0 10px;
}

#messagecontainer {
	height: 65px;
	background: #eee;
	font-family: helvetica, arial;
}

#message {
	padding: 7px 0 0 10px;
}